nav{
  margin-bottom: 20px;
}

nav li{
  margin-right: 10%;
}

#icono{
  width: auto;
  height: 30px;
}

span{
  position: absolute; 
  top: 10%;
}

img{
  width: 100%;
  height: auto;
  margin: 10%;
}


